<div>
    <h1>Sistema chat Websocket</h1>

    <!-- Muestra los mensajes -->
    <ul id="messageList">
    </ul>

    <!-- Entrada del mensaje -->
    <input type="text" id="chat" name="chat" placeholder="Ingresar mensaje" style="width: 300px;" />
    <br />
    <button onClick="sendMessage()">Enviar</button>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socketClient = io();
    const chatInput = document.getElementById('chat');
    const messageList = document.getElementById('messageList');

    socketClient.on('messageArrived', (data) => {
        const li = document.createElement('li');
        li.textContent = data; 
        messageList.appendChild(li);
    });

    const sendMessage = () => {
        if (chatInput.value !== '') {
            socketClient.emit('newMessage', chatInput.value);
            chatInput.value = ''; 
        }
    }
</script>